package ${packageName}.domain;

#foreach ($import in $importList)
import ${import};
#end
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import lombok.Data;
import com.huayang.product.common.annotation.Excel;
import org.dromara.hutool.core.date.DatePattern;
#if($table.crud || $table.sub)
#elseif($table.tree)
#end

/**
 * ${functionName}对象 ${tableName}
 * 
 * @author ${author}
 * @date ${datetime}
 */
#if($table.crud || $table.sub)
#set($Entity="BaseEntity")
#elseif($table.tree)
#set($Entity="TreeEntity")
#end
@Data
@Accessors(chain = true)
@TableName("${tableName}")
public class ${ClassName} extends ${Entity} {
    private static final long serialVersionUID = 1L;
#foreach ($column in $columns)
#if(!$table.isSuperColumn($column.javaField))
    
    /** $column.columnComment */
#if($column.list)
#set($parentheseIndex=$column.columnComment.indexOf("（"))
#if($parentheseIndex != -1)
#set($comment=$column.columnComment.substring(0, $parentheseIndex))
#else
#set($comment=$column.columnComment)
#end
#if($parentheseIndex != -1)
    @Excel(name = "${comment}", readConverterExp = "$column.readConverterExp()")
#elseif($column.javaType == 'Date')
    @JsonFormat(pattern = DatePattern.NORM_DATE_PATTERN)
    @Excel(name = "${comment}", width = 30, dateFormat = DatePattern.NORM_DATE_PATTERN)
#else
    @Excel(name = "${comment}")
#end
#end
#if($pkColumn.javaField == $column.javaField)
    @TableId
#end
    private $column.javaType $column.javaField;
#end
#end
}
