## 类型: Boolean
## 作用: 如果为true, 阻止lombok继续向上层目录查找配置文件
config.stopbubbling=true
## 类型: string数组
## 作用: 将字段上指定的注解复制到getters, setters, with methods, builder-setters等
## 默认为空, 示例为将字段上的Abac注解复制到getter/setter和构建器的setter方法上(with已被lombok弃用)
#lombok.copyableAnnotations += kim.nzxy.Abcd
## 类型: enum (lombok.core.configuration.CallSuperType)
## 可选值: [CALL | SKIP | WARN]
## 作用: 生成equals 和 hashCode方法时, callSuper的默认值
lombok.equalsAndHashCode.callSuper=call
